@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --font-family: 'Poppins', sans-serif;
    --bg-color: #020203;
    --bg-color-dropdown-footer:  #15171Bea;
    --two-font-family: 'Inter', sans-serif;
    --hover-border-play: #005379ab;
}

body{
    font-family: var(--font-family);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.container{
    width: 90%;
    margin: auto;
}

main::before{
    content: '';
    width: 20%;
    height: 4px;
    background-color: #00AEFF;
    position: absolute;
    bottom: 0;
    transition: all 0.5s linear;
}


/* Modal */

.container-modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.container-modal.menulogin{
    background-color: #02020383;
}

.modal{
    width: 560px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    color: white;
}

.menulogin .modal{
    background-image: url(../images/background-modal.png);
}

.close{
    float: right;
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.container-logo-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.container-logo-battle img{
    width: 160px;
}

.container-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 60%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    row-gap: 20px;
}

.container-btn-conecte{
    width: 60%;
}

.container-btn-conecte button{
    padding: 14px 32px;
    height: 52px;
    width: 100%;
    background: #00AEFF;
    border-radius: 4px;
    border: 0;
    color: white;
    font-weight: 600;
    font-family: var(--font-family);
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-btn-conecte button:hover{
    background: #60cdff;
}

.container-inputs input{
    width: 100%;
    height: 48px;
    padding: 0px 20px 0px 20px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-family: var(--font-family);
    color: #363842;
    font-weight: 500;
}

.container-links{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-links ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.container-links ul li{
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-links-conta{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
}

.color-blue{
    color: #00AEFF;
}


/* menu mobile */

.container-modal.mobile{
    background-color: #020203;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mobile .modal{
    background-image: none;
}

.menu-mobile{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 18px;
    width: 100%;
    
}

.menu-mobile li{
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.menu-mobile li span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.menu-mobile li:hover{
    background-color: rgba(255, 255, 255, 0.13);
}

.container-list-menu-mobile{
    display: flex;
    flex-direction: column;
    row-gap: 30px;   
}

.btn-login-create-mobile{
    display: flex;
    column-gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#menu-games-mobile, #menu-esports-mobile{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#menu-games-mobile ul, #menu-esports-mobile ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    
   
}

#menu-games-mobile ul li, #menu-esports-mobile ul li{
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-size: 1.1rem;
}

#menu-games-mobile ul li img{
    width: 100%;
    max-width: 40px;
}

#menu-esports-mobile ul li img{
  width: 100%;
  max-width: 70px;
}

.footer-mobile{
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.footer-mobile ul{
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.footer-mobile ul li{
    display: flex;
    column-gap: 20px;
    width: 180px;
    height: 30px;
    align-items: center;
}

.footer-mobile ul li img{
    max-width: 20px;
}

.container-menus{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


::-webkit-scrollbar,
::-webkit-scrollbar-button, 
::-webkit-scrollbar-track, 
::-webkit-scrollbar-track-piece{
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-button{
    height: 0;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.623);
}

::-webkit-scrollbar-thumb:hover{
    background-color:#00AEFF;
}

@media(max-width:1224px){
    html{
        font-size: 80%;
    }
}


@media(max-width: 1120px){
    .container-modal{
        align-items: inherit;
        justify-content: inherit;
    }

    .modal{
        width: 100%;
        height: 100vh;
    }
}

@media(max-width:725px){
    html{
        font-size: 70%;
    }

    .container-inputs, .container-btn-conecte{
        width: 90%;
    }
}


