@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --font-family: 'Poppins', sans-serif;
    --bg-color: #020203;
    --bg-color-dropdown-footer:  #15171B;
}

body{
    font-family: var(--font-family);
}

.container{
    width: 90%;
    margin: auto;
}

main{
    background-image: url(../images/banner-hero/games/diablo-bg.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.container-down{
    opacity: 0;
    transition: all 1s linear;
}

.disabled .container-down{
    animation: animationOpacityDisabled 1s linear forwards;
}

.links{
    display: flex;
    column-gap: 100px;
}

header{
    border-bottom: 2px solid #ffffff34;
    position: relative;
    transition: all 1s linear;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header .container ul{
    list-style: none;
    display: flex;
    column-gap: 8vh;
    color: white;
}

header .container ul li i{
    opacity: 0.6;
}
header .container ul li{
    display: flex;
    column-gap: 15px;
    align-items:center;
    cursor: pointer;
}
.active .container ul li .open-menu{
    transform: rotate(180deg);
    color: #00AEFF;
}

.active{
    background: #020203;
    backdrop-filter: blur(6px);
}

.down{
    position: absolute;
    top: 108px;
    width: 100%;
}

.active .down{
    backdrop-filter: blur(6px);
}

.active .container-down{
    opacity: 1;
    background: linear-gradient(180deg, #020203 0%, rgba(14, 17, 23, 0.856) 96.35%, rgba(14, 17, 23, 0.829) 100%);
}

.create{
    padding: 10px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-family: var(--font-family);
    transition: all 1s linear;
    cursor: pointer;
}

.login{
    padding: 10px 25px;
    color: white;
    font-family: var(--font-family);
    background: #00AEFF;
    border-radius: 3.15385px;
    border: 0;
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    transition: all 1s linear;
}

.container-btns{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.create:hover{
    background-color: white;
    color: black;
}
.login:hover{
    background: #60cdff;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

.list li{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.list li:hover img{
    transform: scale(1.2);
}

.list li:hover{
    background-color: #020203b4;
}

.container-list{
    padding: 30px 0px 30px 0px;
}



